#booksGrid {
  display: flex;
  padding: 10px;
  gap: 10px;
}
.bookCard {
  padding: 20px;
  display:inline-block;
  border-style: solid;
}

.header-container {
  padding: 40px;
  margin: 0 auto;
}

.title {
  font-size: 100px;
  line-height: 1;
  letter-spacing: 10px;
  text-align: left;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

h3{
  text-align: center;
}

.removeButton{
  background-color:red;
  justify-content: center;
  margin:10px;
}

.readButton{
  justify-content: center;
  align-items: center;
}

p{
  color:red;
}

h3:first-letter {
  text-transform:capitalize;
}